.head {
    background-color: rgb(177, 167, 167);
    padding: 10px;
}

#titulo,
#subtitulo,
.submit {
    text-align: center;
}

input:focus {
    background-color: yellow;
}

input:active {
    background-color: red;
}